<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./public_html/lists/admin/plugins/phplistCaixaFunctionality/includes/src/autoload.php">
    <testsuites>
        <testsuite name="phplistCaixaFunctionality">
            <directory>./public_html/lists/admin/plugins/phplistCaixaFunctionality/includes/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
