/plugins/
/parked/

!/plugins/
/plugins/*

!/plugins/BounceStatisticsPlugin
!/plugins/BounceStatisticsPlugin.php

!/plugins/CKEditorPlugin
!/plugins/CKEditorPlugin.php

!/plugins/phplistCaixaFunctionality
!/plugins/phplistCaixaFunctionality.php

!/plugins/Common
!/plugins/CommonPlugin
!/plugins/CommonPlugin.php
